/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f9671e;
  --ifm-color-primary-dark: #e85a0d;
  --ifm-color-primary-darker: #dc550c;
  --ifm-color-primary-darkest: #b6460a;
  --ifm-color-primary-light: #fa742f;
  --ifm-color-primary-lighter: #fa793b;
  --ifm-color-primary-lightest: #fc8d59;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff8547;
  --ifm-color-primary-dark: #ff7330;
  --ifm-color-primary-darker: #ff6a26;
  --ifm-color-primary-darkest: #e5500c;
  --ifm-color-primary-light: #ff975e;
  --ifm-color-primary-lighter: #ffa068;
  --ifm-color-primary-lightest: #ffb582;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Custom font sizes for headings */
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}